* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #191919;
}

a {
  text-decoration: none;
  color: #2e7bc1;
  &:hover {
    text-decoration: underline;
  }
}

.app_main {
  // border: 2px solid blue;
  position: relative;
  max-width: 100vw;
  margin-top: 54px;
  min-height: calc(
    100vh - 54px - 32px
  ); // minus navbar height and footer height
  padding: 24px 48px;
}

.app_page {
  // border: 2px solid red;
  width: 100%;
}

.app_title {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 28px;
}

.app_sub_heading {
  margin-top: 10px;
  margin-bottom: 8px;
  // margin-left: 15px;
  font-size: 18px;
}

.no_select {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Old versions of Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version
}

.app_form {
  border: 1px solid #455d7a;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.key_value_group {
  margin-bottom: 4px;
  font-size: 14px;
}

.input_group {
  // border: 2px solid red;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 10px;
}

.input_label {
  font-size: 14px;
  display: inline-block;
  min-width: 160px;
}

.input_container {
  flex: 1;
}

.input_input {
  font-size: 14px;
  width: 100%;
  height: 32px;
  padding: 5px 10px;
}

.form_submit_button {
  transition: background-color 0.2s;
  margin-top: 10px;
  width: 100%;
  height: 36px;
  cursor: pointer;
  background-color: #455d7a;
  color: white;
  border: none;
  border-radius: 5px;
  &:hover {
    background-color: #233142;
  }
  font-size: 14px;
}

.button_text {
  font-weight: 500;
  font-size: 14px;
}

.error_header {
  color: #f95959;
  font-weight: bold;
  margin: 20px auto;
}

.error_text {
  font-size: 14px;
  color: red;
  margin-bottom: 10px;
}

.disabled {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
  }
}

.app_image_container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: block;
  position: relative;
}

.app_img {
  // border: 2px solid green;
  object-position: center;
  width: 100%;
  height: auto;
  // center
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app_button {
  font-weight: bold;
  width: 120px;
  height: 45px;
  color: white;
  background: #35495e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #347474;
  }
}

.app_filters_container {
  // border: 2px solid blue;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 20px;
}

.action_button {
  font-weight: bold;
  height: 45px;
  padding: 12px;
  color: white;
  background: #ff6f3c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #ff9a3c;
  }
}

.page_list_container {
  // border: 2px solid red;
  margin-bottom: 120px;
}

.page_list_item {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #35495e;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background-color: #e3e3e3;
  }
  transition: background-color 0.2s;
}
